<template>
    <ag-grid-vue
        :headerHeight="30"
        :style="{ width: p_width, height: p_height }"
        class="ag-theme-alpine"
        :columnDefs="p_columns"
        :rowData="p_dataSource"
        :rowHeight="p_rowHeigt"
        :rowSelection="rowSelection"
        :suppressMovableColumns="true"
        @grid-ready="onGridReady"
    >
    </ag-grid-vue>
</template>

<script>
import "ag-grid-community/dist/styles/ag-grid.css";
import "ag-grid-community/dist/styles/ag-theme-alpine.css";
import { AgGridVue } from "ag-grid-vue3";
export default {
    props: {
        p_columns: Array,
        p_dataSource: Array,
        p_rowHeigt: Number,
        p_width: String,
        p_height: String,
    },
    components: {
        AgGridVue,
    },
    data() {
        return {
            gridApi: null,
            columnApi: null,
            rowSelection: "multiple",
            // editType: "fullRow",
        };
    },
    methods: {
        onGridReady(params) {
            this.gridApi = params.api;
            this.columnApi = params.columnApi;
        },

        createRowData() {
            this.gridApi.updateRowData({ add: [{}] });
        },
        removeRowData() {
            var selectedData = this.gridApi.getSelectedRows();
            this.gridApi.updateRowData({ remove: selectedData });
        },
        getSelectRowData() {
            return this.gridApi.getSelectedRows();
        },
    },
};
</script>

<style>
.ag-header-cell-label {
    justify-content: center;
}
.ag-row .ag-cell {
    display: flex;
    justify-content: center; /* align horizontal */
    align-items: center;
}
</style>
