<template>
    <div></div>
    <!-- <div class="p-1" id="mainNav">
        <nav class="navbar navbar-expand-md navbar-dark">
            <button
                class="navbar-toggler"
                type="button"
                data-bs-toggle="collapse"
                data-bs-target="#navbarSubContent"
                aria-controls="navbarSubContent"
                aria-expanded="false"
                aria-label="Toggle navigation"
            >
                <span class="navbar-toggler-icon border-dark"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSubContent">
                <ul class="navbar-nav">
                    <li class="ms-1 nav-item">
                        <router-link class="nav-link" to="/registration"
                            >개발자 등록</router-link
                        >
                    </li>
                    <li class="ms-1 nav-item">
                        <router-link class="nav-link" to="/list"
                            >개발자 리스트</router-link
                        >
                    </li>
                    <li class="ms-1 nav-item">
                        <router-link class="nav-link" to="/skill"
                            >기술 등록</router-link
                        >
                    </li>
                    <li class="ms-1 nav-item">
                        <router-link class="nav-link" to="/dataMigration"
                            >외주 관리(Excel))</router-link
                        >
                    </li>
                    <li class="ms-1 nav-item">
                        <router-link class="nav-link" to="/itgManagement"
                            >통합 코드 관리</router-link
                        >
                    </li>
                    <li class="ms-1 nav-item">
                        <router-link class="nav-link" to="/login"
                            >Login</router-link
                        >
                    </li>
                    <li class="ms-1 nav-item">
                        <router-link
                            class="nav-link"
                            to="/joinMembershipRegister"
                            >회원가입</router-link
                        >
                    </li>
                </ul>
            </div>
        </nav>
    </div> -->
</template>

<script>
export default {
    name: "headerbar",
};
</script>

<style scoped>
/* #mainNav {
    background: rgb(73, 128, 125);
}
#mainNav .navbar-nav .nav-item .nav-link {
    color: white;
    font-weight: 800;
}
#mainNav .navbar-nav .nav-item .nav-link:hover {
    color: orange;
}
@media (min-width: 992px) {
    #mainNav .navbar-nav .nav-item .nav-link {
        color: white;
        font-weight: 800;
    }
    #mainNav .navbar-nav .nav-item .nav-link:hover {
        color: orange;
    }
} */
</style>
