<template>
    <main>
        <div class="image-album">
            <div class="images">
                <img
                    class="image"
                    v-for="imageUrl in imageUrls"
                    v-bind:key="imageUrl.index"
                    v-bind:src="imageUrl"
                />
            </div>
            <div v-if="imageUrls.length > 1" class="image-circle-wrapper">
                <div
                    class="image-circle"
                    v-for="(imageUrl, index) in imageUrls"
                    v-bind:key="imageUrl.index"
                    v-bind:class="{ activeImg: index === curPos }"
                ></div>
            </div>
        </div>
    </main>
</template>

<script>
export default {
    name: "imageSlider",
    data() {
        return {
            curPos: 0,
            postion: 0,
            start_x: 0,
            end_x: 0,
            IMAGE_WIDTH: 0,
            images: null,
            imageUrls: [
                require("@/assets/luna1.jpg"),
                require("@/assets/lunabang1.jpg"),
                require("@/assets/luna2.jpg"),
            ],
        };
    },
    computed: {},
    mounted() {
        window.addEventListener("resize", this.handle_resize);

        this.images = document.querySelector(".images");

        this.images.addEventListener("touchstart", this.touch_start);
        this.images.addEventListener("touchend", this.touch_end);
        this.images.addEventListener("mousedown", this.mouse_down);
    },
    methods: {
        prev() {
            if (this.curPos > 0) {
                this.postion += document.querySelector(".images").offsetWidth;
                this.images.style.transform = `translateX(${this.postion}px)`;
                this.curPos = this.curPos - 1;
            }
        },
        next() {
            if (this.curPos < this.imageUrls.length - 1) {
                this.postion -= document.querySelector(".images").offsetWidth;
                this.images.style.transform = `translateX(${this.postion}px)`;
                this.curPos = this.curPos + 1;
            }
        },

        touch_start(event) {
            this.start_x = event.touches[0].pageX;
        },

        touch_end(event) {
            this.end_x = event.changedTouches[0].pageX;
            if (this.start_x > this.end_x) this.next();
            else this.prev();
        },

        mouse_down(event) {
            this.start_x = event.clientX;
            this.images.addEventListener("mousemove", this.mouse_move);
        },

        mouse_move(event) {
            this.end_x = event.clientX;
            if (this.start_x > this.end_x) this.next();
            else this.prev();

            this.images.removeEventListener("mousemove", this.mouse_move);
        },

        handle_resize() {
            this.postion = 0;
            this.images.style.transform = `translateX(${this.postion}px)`;
            this.curPos = 0;
        },
    },
};
</script>

<style scopped>
.image-album {
    width: 100%;
    height: 100%;
    max-width: 2560px;
    max-height: 1440px;
    overflow: hidden;
}
.images {
    display: flex;
    align-items: center;
    height: 460px;
    transition: transform 0.5s;
}
.image {
    object-fit: contain;
    width: 100%;
    max-width: 2560px;
}
.image-circle-wrapper {
    display: flex;
    position: absolute;
    left: 50%;
    transform: translate(-50%, -18px);
}
.image-circle {
    width: 8px;
    height: 8px;
    border-radius: 50%;
    background-color: white;
    border: 1px solid #d2d2d2;
    margin-right: 12px;
}
.image-circle:last-child {
    margin-right: 0;
}
.image-circle.activeImg {
    background-color: #404040;
}
</style>
