<template>
    <form>
        <div class="input-group mb-3">
            <label class="input-group-text">가용일</label>
            <select class="form-select" aria-label="Default select example">
                <option v-for="y in yearCombo" :key="y.value" :value="y.value">
                    {{ y.description }}
                </option>
            </select>
            <select class="form-select" aria-label="Default select example">
                <option v-for="m in monthCombo" :key="m.value" :value="m.value">
                    {{ m.description }}
                </option>
            </select>
        </div>
        <div class="input-group">
            <label class="input-group-text">이름</label>
            <input
                type="text"
                class="form-control"
                aria-label="Text input with segmented dropdown button"
                placeholder="검색어를 입력하세요."
            />

            <label class="input-group-text">경력</label>
            <input
                type="text"
                class="form-control"
                aria-label="Text input with segmented dropdown button"
                placeholder="검색어를 입력하세요."
            />

            <label class="input-group-text">연락처</label>
            <input
                type="text"
                class="form-control"
                aria-label="Text input with segmented dropdown button"
                placeholder="검색어를 입력하세요."
            />
            <button class="btn btn-outline-secondary">Search</button>
        </div>
    </form>
</template>

<script>
export default {
    name: "Searchbar",
    emit: ["search"],
    data() {
        return {
            yearCombo: [],
            monthCombo: [],
        };
    },
    mounted() {
        this.init();
    },
    methods: {
        init() {
            const year = new Date().getFullYear();
            const month = new Date().getMonth() + 1;
            console.log(month);
            for (let i = year; i < year + 5; i++) {
                const temp = {
                    value: i,
                    description: `${i}년`,
                };
                this.yearCombo.push(temp);
            }
            for (let i = 1; i <= 12; i += 1) {
                const temp = {
                    value: i,
                    description: `${i}월`,
                };
                this.monthCombo.push(temp);
            }
        },
    },
};
</script>

<style scoped>
form {
    background-color: rgb(241 241 241);
    padding: 20px 30px;
}
</style>
