<template>
    <div id="app">
        <treeselect
            v-model="skills"
            :multiple="true"
            :options="options"
            :normalizer="normalizer"
        />
    </div>
</template>

<script>
import { reactive, toRefs } from "@vue/reactivity";
import Treeselect from "vue3-treeselect";
import "vue3-treeselect/dist/vue3-treeselect.css";
import axios from "axios";
import { onMounted } from "@vue/runtime-core";
export default {
    components: { Treeselect },
    setup() {
        const data = reactive({
            options: [],
            normalizer(node) {
                return {
                    id: node.skillId,
                    label: node.skillname,
                    children: node.subSkills,
                };
            },
        });

        onMounted(() => {
            try {
                axios.get("http://localhost:5000/api/skill").then((res) => {
                    data.options = res.data;
                });
            } catch (err) {
                console.log(err);
            }
        });

        return toRefs(data);
    },
};
</script>
