<template>
    <div>
        <h1 class="mb-3">외주 관리(Excel)</h1>
        <hr />
        <h5 class="border-bottom border-top border-2 border-dark p-2">
            Data Migration
        </h5>

        <ul class="row text-end">
            <li class="d-inline-block col-md-9 mt-1">
                <input class="form-control" type="file" id="formFile" />
            </li>
            <li class="d-inline-block col-md-3">
                <button
                    name="btnAdd"
                    class="btn btn-dark me-2 mt-1"
                    type="button"
                >
                    등록
                </button>
                <button
                    name="btnDel"
                    class="btn btn-secondary mt-1"
                    type="button"
                >
                    삭제
                </button>
            </li>
        </ul>
        <common-grid
            style="width: 100%; height: 300px"
            class="ag-theme-alpine"
            :columnDefs="columnDefs"
            :rowData="rowData"
        >
        </common-grid>
        <ul class="row text-end">
            <li class="d-inline-block col-md-12">
                <a
                    href="#"
                    name="btnAdd"
                    class="btn btn-dark me-2 mt-1"
                    type="button"
                    >저장</a
                >
                <a
                    href="#"
                    name="btnDel"
                    class="btn btn-secondary mt-1"
                    type="button"
                    >취소</a
                >
            </li>
        </ul>
    </div>
</template>

<script>
import dataMigrationService from "../../service/DataMigrationService";
import header from "./config/excel/dataMigrationGridSetting";

export default {
    data() {
        return {
            rowData: [],
            columnDefs: header,
        };
    },
    methods: {
        createExcelTemplate() {
            console.log(dataMigrationService);
        },
        createExcelData() {
            dataMigrationService.CreateExcel().then((res) => {
                const url = window.URL.createObjectURL(
                    new Blob([res.data], { type: res.headers["content-type"] }),
                );
                const link = document.createElement("a");
                link.href = url;
                link.setAttribute("download", "임시외주관리테스트엑셀.xlsx");
                link.click();
            });
        },
        selectExcelInf() {
            dataMigrationService.SelectExcelInf().then((res) => {
                this.rowData = res.data;
                console.log(res);
            });
        },
    },
    mounted() {
        this.selectExcelInf();
    },
};
</script>

<style></style>
