<template>
    <div class="container">
        <div class="row">
            <h5 class="border-bottom border-top border-2 border-dark p-2">
                1. Personal Information
            </h5>

            <ul class="row">
                <li class="d-inline-block col-md-2">이름</li>
                <li class="d-inline-block col-md-3">
                    <input
                        type="text"
                        class="form-control"
                        v-model="currentDeveloper.name"
                    />
                </li>
                <li class="d-inline-block col-md-2"></li>
                <li class="d-inline-block col-md-2">나이</li>
                <li class="d-inline-block col-md-3">
                    <input
                        type="text"
                        class="form-control"
                        v-model="currentDeveloper.age"
                    />
                </li>
            </ul>

            <ul class="row">
                <li class="d-inline-block col-md-2">연락처</li>
                <li class="d-inline-block col-md-3">
                    <input
                        type="text"
                        class="form-control"
                        placeholder="010-1234-5678"
                        v-model="currentDeveloper.phoneNumber"
                    />
                </li>
                <li class="d-inline-block col-md-2"></li>
                <li class="d-inline-block col-md-2">거주지</li>
                <li class="d-inline-block col-md-3">
                    <input
                        type="text"
                        class="form-control"
                        placeholder="00시 00구"
                        v-model="currentDeveloper.city"
                    />
                </li>
            </ul>

            <ul class="row">
                <li class="d-inline-block col-md-2">이메일</li>
                <li class="d-inline-block col-md-3">
                    <input
                        type="email"
                        class="form-control"
                        placeholder="name@example.com"
                        v-model="currentDeveloper.email"
                    />
                </li>
                <li class="d-inline-block col-md-2"></li>
                <li class="d-inline-block col-md-2">성별</li>
                <li class="d-inline-block col-md-3">
                    <select
                        name="field"
                        class="form-select"
                        aria-label="Default select example"
                        v-model="currentDeveloper.gender"
                    >
                        <option value="" selected>선택</option>
                        <option value="남">남자</option>
                        <option value="여">여자</option>
                    </select>
                </li>
            </ul>

            <ul class="row">
                <li class="d-inline-block col-md-2">졸업학교</li>
                <li class="d-inline-block col-md-3">
                    <input
                        class="form-control"
                        type="text"
                        placeholder="00대학교"
                        v-model="currentDeveloper.school"
                    />
                </li>
                <li class="d-inline-block col-md-2"></li>
                <li class="d-inline-block col-md-2">최종학력</li>
                <li class="d-inline-block col-md-3">
                    <select
                        name="field"
                        class="form-select"
                        aria-label="Default select example"
                        v-model="currentDeveloper.schoolFinal"
                    >
                        <option value="" selected>선택</option>
                        <option value="0">고졸</option>
                        <option value="1">초대졸</option>
                        <option value="2">대졸</option>
                        <option value="3">대학원졸</option>
                    </select>
                </li>
            </ul>

            <ul class="row">
                <li class="d-inline-block col-md-2">전공유무</li>
                <li class="d-inline-block col-md-2">
                    {{ currentDeveloper.majorInComputer ? "전공" : "비전공" }}
                </li>
                <li class="d-inline-block col-md-3">
                    <button
                        class="btn btn-primary mr-2"
                        v-if="currentDeveloper.majorInComputer"
                        @click="updateMajorInComputer(false)"
                    >
                        비전공으로 변경
                    </button>
                    <button
                        v-else
                        class="btn btn-primary mr-2"
                        @click="updateMajorInComputer(true)"
                    >
                        전공으로 변경
                    </button>
                </li>
                <li class="d-inline-block col-md-2"></li>
                <li class="d-inline-block col-md-3"></li>
            </ul>

            <h5 class="border-bottom border-top border-2 border-dark p-2">
                2. Career Information
            </h5>

            <ul class="row">
                <li class="d-inline-block col-md-2">등급</li>
                <li class="d-inline-block col-md-3">
                    <select
                        name="grade"
                        class="form-select"
                        aria-label="Default select example"
                    >
                        <option value="" selected>등급</option>
                        <option value="1">초급</option>
                        <option value="2">중급</option>
                        <option value="3">고급</option>
                    </select>
                </li>
                <li class="d-inline-block col-md-2"></li>
                <li class="d-inline-block col-md-2">경력</li>
                <li class="d-inline-block col-md-3">
                    <input
                        class="form-control"
                        type="text"
                        v-model="currentDeveloper.careerMonth"
                    />
                    {{ (currentDeveloper.careerMonth / 12).toFixed(1) }}년
                </li>
            </ul>

            <ul class="row">
                <li class="d-inline-block col-md-2">고용형태</li>
                <li class="d-inline-block col-md-3"></li>
                <li class="d-inline-block col-md-2"></li>
                <li class="d-inline-block col-md-2">
                    {{
                        currentDeveloper.freelancer
                            ? "프리랜서"
                            : "정규/비정규직"
                    }}
                </li>
                <li class="d-inline-block col-md-3">
                    <button
                        class="btn btn-primary mr-2"
                        v-if="currentDeveloper.freelancer"
                        @click="updateFreelancer(false)"
                    >
                        정규/비정규 직으로
                    </button>
                    <button
                        v-else
                        class="btn btn-primary mr-2"
                        @click="updateFreelancer(true)"
                    >
                        프리로
                    </button>
                </li>
            </ul>

            <ul class="row">
                <li class="d-inline-block col-md-2">정보처리기사</li>
                <li class="d-inline-block col-md-3"></li>
                <li class="d-inline-block col-md-2"></li>
                <li class="d-inline-block col-md-2">
                    {{ currentDeveloper.jungchegi ? "보유" : "비보유" }}
                </li>
                <li class="d-inline-block col-md-3">
                    <button
                        class="btn btn-primary mr-2"
                        v-if="currentDeveloper.jungchegi"
                        @click="updateJungchegi(false)"
                    >
                        정보처리기사 없음
                    </button>
                    <button
                        v-else
                        class="btn btn-primary mr-2"
                        @click="updateJungchegi(true)"
                    >
                        정보처리기사 취득
                    </button>
                </li>
            </ul>

            <ul class="row">
                <li class="d-inline-block col-md-2">가용일 / 가용여부</li>
                <li class="d-inline-block col-md-3">
                    <input
                        class="form-control"
                        type="text"
                        v-model="currentDeveloper.dateAvailable"
                    />
                </li>
                <li class="d-inline-block col-md-2"></li>
                <li class="d-inline-block col-md-2">
                    <span class="text-danger">{{
                        currentDeveloper.dmAllowed ? "현재 가용" : "현재 비가용"
                    }}</span>
                </li>
                <li class="d-inline-block col-md-3">
                    <button
                        class="btn btn-warning mr-2"
                        v-if="currentDeveloper.dmAllowed"
                        @click="updateDmAllowed(false)"
                    >
                        비가용으로
                    </button>
                    <button
                        v-else
                        class="btn btn-warning mr-2"
                        @click="updateDmAllowed(true)"
                    >
                        가용으로
                    </button>
                </li>
            </ul>

            <ul class="row">
                <li class="d-inline-block col-md-2">등록일</li>
                <li class="d-inline-block col-md-3">
                    {{ currentDeveloper.dateCreated.split("T")[0] }}
                </li>
                <li class="d-inline-block col-md-2"></li>
                <li class="d-inline-block col-md-2">수정일</li>
                <li class="d-inline-block col-md-3">
                    {{ currentDeveloper.dateLastUpdate.split("T")[0] }}
                </li>
            </ul>

            <ul class="row">
                <li class="d-inline-block col-md-2">비고</li>
                <li class="d-inline-block col-md-10">
                    <textarea
                        class="form-control"
                        maxlength="300"
                        id="exampleFormControlTextarea1"
                        rows="3"
                    >
                    </textarea>
                </li>
            </ul>

            <div class="overflow-hidden">
                <div class="float-end mb-2">
                    <button
                        type="submit"
                        class="btn btn-success me-2"
                        @click="updateDeveloper"
                    >
                        개발자 수정
                    </button>
                    <button
                        class="btn btn-danger mr-2"
                        @click="deleteDeveloper"
                    >
                        개발자 삭제
                    </button>
                </div>
            </div>
            <div
                v-if="message"
                class="alert alert-warning text-center"
                role="alert"
            >
                {{ message }}
            </div>
        </div>
    </div>
</template>

<script>
import DeveloperDataService from "../../service/DeveloperDataService";

export default {
    name: "Developer",
    data() {
        return {
            currentDeveloper: null,
            message: "",
        };
    },
    methods: {
        getDeveloper(id) {
            DeveloperDataService.get(id)
                .then((response) => {
                    this.currentDeveloper = response.data;
                    console.log(response.data);
                })
                .catch((e) => {
                    console.log(e);
                });
        },

        updateDmAllowed(status) {
            const data = {
                id: this.currentDeveloper.id,
                grade: this.currentDeveloper.grade,
                name: this.currentDeveloper.name,
                phoneNumber: this.currentDeveloper.phoneNumber,
                age: this.currentDeveloper.age,
                schoolFinal: this.currentDeveloper.schoolFinal,
                school: this.currentDeveloper.school,
                careerMonth: this.currentDeveloper.careerMonth,
                city: this.currentDeveloper.city,
                email: this.currentDeveloper.email,
                description: this.currentDeveloper.description,
                gender: this.currentDeveloper.gender,
                jungchegi: this.currentDeveloper.jungchegi,
                majorInComputer: this.currentDeveloper.majorInComputer,
                dateAvailable: this.currentDeveloper.dateAvailable,
                freelancer: this.currentDeveloper.freelancer,
                dmAllowed: status,
            };

            DeveloperDataService.update(this.currentDeveloper.id, data)
                .then((response) => {
                    this.currentDeveloper.dmAllowed = status;
                    console.log(response.data);
                })
                .catch((e) => {
                    console.log(e);
                });
        },

        updateJungchegi(status) {
            const data = {
                id: this.currentDeveloper.id,
                grade: this.currentDeveloper.grade,
                name: this.currentDeveloper.name,
                phoneNumber: this.currentDeveloper.phoneNumber,
                age: this.currentDeveloper.age,
                schoolFinal: this.currentDeveloper.schoolFinal,
                school: this.currentDeveloper.school,
                careerMonth: this.currentDeveloper.careerMonth,
                city: this.currentDeveloper.city,
                email: this.currentDeveloper.email,
                description: this.currentDeveloper.description,
                gender: this.currentDeveloper.gender,
                dmAllowed: this.currentDeveloper.dmAllowed,
                majorInComputer: this.currentDeveloper.majorInComputer,
                dateAvailable: this.currentDeveloper.dateAvailable,
                freelancer: this.currentDeveloper.freelancer,
                jungchegi: status,
            };

            DeveloperDataService.update(this.currentDeveloper.id, data)
                .then((response) => {
                    this.currentDeveloper.jungchegi = status;
                    console.log(response.data);
                })
                .catch((e) => {
                    console.log(e);
                });
        },

        updateMajorInComputer(status) {
            const data = {
                id: this.currentDeveloper.id,
                grade: this.currentDeveloper.grade,
                name: this.currentDeveloper.name,
                phoneNumber: this.currentDeveloper.phoneNumber,
                age: this.currentDeveloper.age,
                schoolFinal: this.currentDeveloper.schoolFinal,
                school: this.currentDeveloper.school,
                careerMonth: this.currentDeveloper.careerMonth,
                city: this.currentDeveloper.city,
                email: this.currentDeveloper.email,
                description: this.currentDeveloper.description,
                gender: this.currentDeveloper.gender,
                dmAllowed: this.currentDeveloper.dmAllowed,
                jungchegi: this.currentDeveloper.jungchegi,
                dateAvailable: this.currentDeveloper.dateAvailable,
                freelancer: this.currentDeveloper.freelancer,
                majorInComputer: status,
            };

            DeveloperDataService.update(this.currentDeveloper.id, data)
                .then((response) => {
                    this.currentDeveloper.majorInComputer = status;
                    console.log(response.data);
                })
                .catch((e) => {
                    console.log(e);
                });
        },

        updateFreelancer(status) {
            const data = {
                id: this.currentDeveloper.id,
                grade: this.currentDeveloper.grade,
                name: this.currentDeveloper.name,
                phoneNumber: this.currentDeveloper.phoneNumber,
                age: this.currentDeveloper.age,
                schoolFinal: this.currentDeveloper.schoolFinal,
                school: this.currentDeveloper.school,
                careerMonth: this.currentDeveloper.careerMonth,
                city: this.currentDeveloper.city,
                email: this.currentDeveloper.email,
                description: this.currentDeveloper.description,
                gender: this.currentDeveloper.gender,
                dmAllowed: this.currentDeveloper.dmAllowed,
                jungchegi: this.currentDeveloper.jungchegi,
                dateAvailable: this.currentDeveloper.dateAvailable,
                majorInComputer: this.currentDeveloper.majorInComputer,
                freelancer: status,
            };

            DeveloperDataService.update(this.currentDeveloper.id, data)
                .then((response) => {
                    this.currentDeveloper.freelancer = status;
                    console.log(response.data);
                })
                .catch((e) => {
                    console.log(e);
                });
        },

        updateDeveloper() {
            DeveloperDataService.update(
                this.currentDeveloper.id,
                this.currentDeveloper,
            )
                .then((response) => {
                    console.log(response.data);
                    this.message = "정상적으로 수정되었습니다.";
                })
                .catch((e) => {
                    console.log(e);
                });
        },

        deleteDeveloper() {
            DeveloperDataService.delete(this.currentDeveloper.id)
                .then((response) => {
                    console.log(response.data);
                    this.$router.push({
                        name: "developers",
                    });
                })
                .catch((e) => {
                    console.log(e);
                });
        },
    },
    mounted() {
        this.message = "";
        this.getDeveloper(this.$route.params.id);
    },
};
</script>
