<template>
    <div v-if="currentDeveloper" class="mt-2">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <form>
                        <h5
                            class="border-bottom border-top border-2 border-dark p-2"
                        >
                            1. 신상정보
                        </h5>
                        <ul class="row">
                            <li class="d-inline-block col-md-2">이름</li>
                            <li class="d-inline-block col-md-3">
                                <input
                                    type="text"
                                    class="form-control"
                                    v-model="currentDeveloper.name"
                                />
                            </li>
                            <li class="d-inline-block col-md-2"></li>
                            <li class="d-inline-block col-md-2">나이</li>
                            <li class="d-inline-block col-md-3">
                                <input
                                    type="text"
                                    class="form-control"
                                    v-model="currentDeveloper.age"
                                />
                            </li>
                        </ul>

                        <ul class="row">
                            <li class="d-inline-block col-md-2">연락처</li>
                            <li class="d-inline-block col-md-3">
                                <input
                                    type="text"
                                    class="form-control"
                                    v-model="currentDeveloper.phoneNumber"
                                />
                            </li>
                            <li class="d-inline-block col-md-2"></li>
                            <li class="d-inline-block col-md-2">거주지</li>
                            <li class="d-inline-block col-md-3">
                                <input
                                    type="text"
                                    class="form-control"
                                    v-model="currentDeveloper.city"
                                />
                            </li>
                        </ul>

                        <ul class="row">
                            <li class="d-inline-block col-md-2">이메일</li>
                            <li class="d-inline-block col-md-3">
                                <input
                                    type="email"
                                    class="form-control"
                                    v-model="currentDeveloper.email"
                                />
                            </li>
                            <li class="d-inline-block col-md-2"></li>
                            <li class="d-inline-block col-md-2">성별</li>
                            <li class="d-inline-block col-md-3">
                                <select
                                    class="form-select"
                                    v-model="currentDeveloper.gender"
                                >
                                    <option value="남">남자</option>
                                    <option value="여">여자</option>
                                </select>
                            </li>
                        </ul>

                        <ul class="row">
                            <li class="d-inline-block col-md-2">최종학력</li>
                            <li class="d-inline-block col-md-3">
                                <select
                                    class="form-select"
                                    v-model="currentDeveloper.schoolFinal"
                                >
                                    <option value="0">고등학교 졸업</option>
                                    <option value="1">2년제 대학교 졸업</option>
                                    <option value="2">4년제 대학교 졸업</option>
                                </select>
                            </li>
                            <li class="d-inline-block col-md-2"></li>
                            <li class="d-inline-block col-md-2">졸업학교</li>
                            <li class="d-inline-block col-md-3">
                                <input
                                    class="form-control"
                                    type="text"
                                    v-model="currentDeveloper.school"
                                />
                            </li>
                        </ul>

                        <ul class="row">
                            <li class="d-inline-block col-md-7">전공유무</li>
                            <li class="d-inline-block col-md-2 fw-bold">
                                {{
                                    currentDeveloper.majorInComputer
                                        ? "전공"
                                        : "비전공"
                                }}
                            </li>
                            <li class="d-inline-block col-md-3">
                                <button
                                    class="btn btn-dark mr-2"
                                    v-if="currentDeveloper.majorInComputer"
                                    @click="updateMajorInComputer(false)"
                                >
                                    변경
                                </button>
                                <button
                                    v-else
                                    class="btn btn-dark mr-2"
                                    @click="updateMajorInComputer(true)"
                                >
                                    변경
                                </button>
                            </li>
                            <li class="d-inline-block col-md-2"></li>
                            <li class="d-inline-block col-md-3"></li>
                        </ul>

                        <h5
                            class="border-bottom border-top border-2 border-dark p-2"
                        >
                            2. 경력정보
                        </h5>
                        <ul class="row">
                            <li class="d-inline-block col-md-2">등급</li>
                            <li class="d-inline-block col-md-3">
                                <select
                                    name="grade"
                                    class="form-select"
                                    v-model="currentDeveloper.grade"
                                >
                                    <option value="초급">초급</option>
                                    <option value="중급">중급</option>
                                    <option value="고급">고급</option>
                                </select>
                            </li>
                        </ul>

                        <ul class="row">
                            <li class="d-inline-block col-md-2">경력(개월)</li>
                            <li class="d-inline-block col-md-2">
                                <input
                                    class="form-control"
                                    type="text"
                                    v-model="currentDeveloper.careerMonth"
                                />
                            </li>
                            <li class="d-inline-block col-md-1">
                                {{
                                    (currentDeveloper.careerMonth / 12).toFixed(
                                        1,
                                    )
                                }}년
                            </li>
                            <li class="d-inline-block col-md-2"></li>
                            <li class="d-inline-block col-md-2">경력 수정일</li>
                            <li class="d-inline-block col-md-2">
                                {{
                                    currentDeveloper.careerUpdate.split("T")[0]
                                }}
                            </li>
                        </ul>

                        <ul class="row">
                            <li class="d-inline-block col-md-7">고용형태</li>
                            <li class="d-inline-block col-md-2 fw-bold">
                                {{
                                    currentDeveloper.freelancer
                                        ? "프리랜서"
                                        : "직접고용"
                                }}
                            </li>
                            <li class="d-inline-block col-md-3">
                                <button
                                    class="btn btn-dark mr-2"
                                    v-if="currentDeveloper.freelancer"
                                    @click="updateFreelancer(false)"
                                >
                                    변경
                                </button>
                                <button
                                    v-else
                                    class="btn btn-dark mr-2"
                                    @click="updateFreelancer(true)"
                                >
                                    변경
                                </button>
                            </li>
                        </ul>

                        <ul class="row">
                            <li class="d-inline-block col-md-7">
                                정보처리기사
                            </li>
                            <li class="d-inline-block col-md-2 fw-bold">
                                {{
                                    currentDeveloper.jungchegi
                                        ? "취득"
                                        : "미취득"
                                }}
                            </li>
                            <li class="d-inline-block col-md-3">
                                <button
                                    class="btn btn-dark mr-2"
                                    v-if="currentDeveloper.jungchegi"
                                    @click="updateJungchegi(false)"
                                >
                                    변경
                                </button>
                                <button
                                    v-else
                                    class="btn btn-dark mr-2"
                                    @click="updateJungchegi(true)"
                                >
                                    변경
                                </button>
                            </li>
                        </ul>

                        <ul class="row">
                            <li class="d-inline-block col-md-2">
                                가용일/가용여부
                            </li>
                            <li class="d-inline-block col-md-3">
                                <input
                                    class="form-control"
                                    type="text"
                                    v-model="currentDeveloper.dateAvailable"
                                />
                            </li>
                            <li class="d-inline-block col-md-2"></li>
                            <li class="d-inline-block col-md-2">
                                <span class="text-danger fw-bold">{{
                                    currentDeveloper.dmAllowed
                                        ? "가용"
                                        : "비가용"
                                }}</span>
                            </li>
                            <li class="d-inline-block col-md-3">
                                <button
                                    class="btn btn-dark mr-2"
                                    v-if="currentDeveloper.dmAllowed"
                                    @click="updateDmAllowed(false)"
                                >
                                    변경
                                </button>
                                <button
                                    v-else
                                    class="btn btn-dark mr-2"
                                    @click="updateDmAllowed(true)"
                                >
                                    변경
                                </button>
                            </li>
                        </ul>

                        <ul class="row">
                            <li class="d-inline-block col-md-2">등록일</li>
                            <li class="d-inline-block col-md-3">
                                {{ currentDeveloper.dateCreated.split("T")[0] }}
                            </li>
                            <li class="d-inline-block col-md-2"></li>
                            <li class="d-inline-block col-md-2">수정일</li>
                            <li class="d-inline-block col-md-3">
                                {{
                                    currentDeveloper.dateLastUpdate.split(
                                        "T",
                                    )[0]
                                }}
                            </li>
                        </ul>

                        <ul class="row">
                            <li class="d-inline-block col-md-2">비고</li>
                            <li class="d-inline-block col-md-10">
                                <textarea
                                    class="form-control"
                                    maxlength="300"
                                    v-model="currentDeveloper.description"
                                    rows="3"
                                >
                                </textarea>
                            </li>
                        </ul>
                    </form>
                    <div class="overflow-hidden">
                        <div class="float-end mb-2">
                            <button
                                type="submit"
                                class="btn btn-success me-2"
                                @click="updateDeveloper"
                            >
                                개발자 수정
                            </button>
                            <button
                                class="btn btn-danger mr-2"
                                @click="deleteDeveloper"
                            >
                                개발자 삭제
                            </button>
                        </div>
                    </div>
                    <div
                        v-if="message"
                        class="alert alert-warning text-center"
                        role="alert"
                    >
                        {{ message }}
                    </div>
                    <hr />
                    <table class="table table-hover table-bordered">
                        <thead class="table-light">
                            <tr align="center">
                                <th scope="col">No.</th>
                                <th scope="col">업로드일자</th>
                                <th scope="col">첨부파일</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr align="center">
                                <th scope="row">1</th>
                                <td>2021/06/25 오전11시</td>
                                <td class="tg-abip">
                                    <form action="exam.php" method="POST">
                                        <a
                                            href="이력서.pdf"
                                            download="이력서.pdf"
                                            >이력서.pdf</a
                                        >
                                    </form>
                                </td>
                            </tr>
                            <tr align="center">
                                <th scope="row">2</th>
                                <td>2021/05/15 오후02시</td>
                                <td class="tg-abip">
                                    <form action="exam.php" method="POST">
                                        <a
                                            href="자격증.jpg"
                                            download="자격증.jpg"
                                            >자격증.jpg</a
                                        >
                                    </form>
                                </td>
                            </tr>
                            <tr align="center">
                                <th scope="row">3</th>
                                <td>2021/06/24 오후05시</td>
                                <td class="tg-abip">
                                    <form action="exam.php" method="POST">
                                        <a
                                            href="자격증.jpg2"
                                            download="자격증.jpg2"
                                            >자격증2.jpg</a
                                        >
                                    </form>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div class="col-12">
                    <div class="row text-end">
                        <form action="exam.php" method="POST">
                            <a href="#" type="button" class="btn btn-dark"
                                >수정</a
                            >
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
import DeveloperDataService from "../../service/DeveloperDataService";

export default {
    name: "Developer",
    data() {
        return {
            currentDeveloper: null,
            message: "",
        };
    },
    methods: {
        getDeveloper(id) {
            DeveloperDataService.get(id)
                .then((response) => {
                    this.currentDeveloper = response.data;
                    console.log(response.data);
                })
                .catch((e) => {
                    console.log(e);
                });
        },

        updateDmAllowed(status) {
            const data = {
                id: this.currentDeveloper.id,
                grade: this.currentDeveloper.grade,
                name: this.currentDeveloper.name,
                phoneNumber: this.currentDeveloper.phoneNumber,
                age: this.currentDeveloper.age,
                schoolFinal: this.currentDeveloper.schoolFinal,
                school: this.currentDeveloper.school,
                careerMonth: this.currentDeveloper.careerMonth,
                city: this.currentDeveloper.city,
                email: this.currentDeveloper.email,
                description: this.currentDeveloper.description,
                gender: this.currentDeveloper.gender,
                jungchegi: this.currentDeveloper.jungchegi,
                majorInComputer: this.currentDeveloper.majorInComputer,
                dateAvailable: this.currentDeveloper.dateAvailable,
                freelancer: this.currentDeveloper.freelancer,
                dmAllowed: status,
            };

            DeveloperDataService.update(this.currentDeveloper.id, data)
                .then((response) => {
                    this.currentDeveloper.dmAllowed = status;
                    console.log(response.data);
                })
                .catch((e) => {
                    console.log(e);
                });
        },

        updateJungchegi(status) {
            const data = {
                id: this.currentDeveloper.id,
                grade: this.currentDeveloper.grade,
                name: this.currentDeveloper.name,
                phoneNumber: this.currentDeveloper.phoneNumber,
                age: this.currentDeveloper.age,
                schoolFinal: this.currentDeveloper.schoolFinal,
                school: this.currentDeveloper.school,
                careerMonth: this.currentDeveloper.careerMonth,
                city: this.currentDeveloper.city,
                email: this.currentDeveloper.email,
                description: this.currentDeveloper.description,
                gender: this.currentDeveloper.gender,
                dmAllowed: this.currentDeveloper.dmAllowed,
                majorInComputer: this.currentDeveloper.majorInComputer,
                dateAvailable: this.currentDeveloper.dateAvailable,
                freelancer: this.currentDeveloper.freelancer,
                jungchegi: status,
            };

            DeveloperDataService.update(this.currentDeveloper.id, data)
                .then((response) => {
                    this.currentDeveloper.jungchegi = status;
                    console.log(response.data);
                })
                .catch((e) => {
                    console.log(e);
                });
        },

        updateMajorInComputer(status) {
            const data = {
                id: this.currentDeveloper.id,
                grade: this.currentDeveloper.grade,
                name: this.currentDeveloper.name,
                phoneNumber: this.currentDeveloper.phoneNumber,
                age: this.currentDeveloper.age,
                schoolFinal: this.currentDeveloper.schoolFinal,
                school: this.currentDeveloper.school,
                careerMonth: this.currentDeveloper.careerMonth,
                city: this.currentDeveloper.city,
                email: this.currentDeveloper.email,
                description: this.currentDeveloper.description,
                gender: this.currentDeveloper.gender,
                dmAllowed: this.currentDeveloper.dmAllowed,
                jungchegi: this.currentDeveloper.jungchegi,
                dateAvailable: this.currentDeveloper.dateAvailable,
                freelancer: this.currentDeveloper.freelancer,
                majorInComputer: status,
            };

            DeveloperDataService.update(this.currentDeveloper.id, data)
                .then((response) => {
                    this.currentDeveloper.majorInComputer = status;
                    console.log(response.data);
                })
                .catch((e) => {
                    console.log(e);
                });
        },

        updateFreelancer(status) {
            const data = {
                id: this.currentDeveloper.id,
                grade: this.currentDeveloper.grade,
                name: this.currentDeveloper.name,
                phoneNumber: this.currentDeveloper.phoneNumber,
                age: this.currentDeveloper.age,
                schoolFinal: this.currentDeveloper.schoolFinal,
                school: this.currentDeveloper.school,
                careerMonth: this.currentDeveloper.careerMonth,
                city: this.currentDeveloper.city,
                email: this.currentDeveloper.email,
                description: this.currentDeveloper.description,
                gender: this.currentDeveloper.gender,
                dmAllowed: this.currentDeveloper.dmAllowed,
                jungchegi: this.currentDeveloper.jungchegi,
                dateAvailable: this.currentDeveloper.dateAvailable,
                majorInComputer: this.currentDeveloper.majorInComputer,
                freelancer: status,
            };

            DeveloperDataService.update(this.currentDeveloper.id, data)
                .then((response) => {
                    this.currentDeveloper.freelancer = status;
                    console.log(response.data);
                })
                .catch((e) => {
                    console.log(e);
                });
        },

        updateDeveloper() {
            DeveloperDataService.update(
                this.currentDeveloper.id,
                this.currentDeveloper,
            )
                .then((response) => {
                    console.log(response.data);
                    this.message = "정상적으로 수정되었습니다.";
                })
                .catch((e) => {
                    console.log(e);
                });
        },

        deleteDeveloper() {
            DeveloperDataService.delete(this.currentDeveloper.id)
                .then((response) => {
                    console.log(response.data);
                    this.$router.push({
                        name: "lists",
                    });
                })
                .catch((e) => {
                    console.log(e);
                });
        },
    },
    mounted() {
        this.message = "";
        this.getDeveloper(this.$route.params.id);
    },
};
</script>

<style></style>
