<template>
    <div>
        <h1 class="mb-3">통합코드 관리</h1>
        <hr />
        <ul class="row text-end">
            <li class="d-inline-block col-md-12">
                <label> 통합코드 ID </label>
                <input v-model="txtCodeValue" class="searchBox" />
                <a
                    name="btnAdd"
                    class="btn btn-dark me-2 mt-1"
                    v-on:click="selectIntegratedMaster"
                    type="button"
                    >Search</a
                >
                <a
                    name="btnAdd"
                    class="btn btn-dark me-2 mt-1"
                    type="button"
                    v-on:click="addRow_MasterGrid"
                    >Add</a
                >
                <a
                    name="btnAdd"
                    class="btn btn-dark me-2 mt-1"
                    v-on:click="createIntegratedMaster"
                    type="button"
                    >Save</a
                >
                <a
                    name="btnDel"
                    class="btn btn-secondary mt-1"
                    type="button"
                    v-on:click="deleteIntegratedMaster"
                    >Del</a
                >
            </li>
        </ul>
        <common-grid
            class="ag-theme-alpine"
            :p_columns="columnDefs"
            :p_dataSource="dataSource"
            :p_width="gridwidth"
            :p_height="gridheight"
            ref="master"
        >
        </common-grid>
        <hr />
        <ul class="row text-end">
            <li class="d-inline-block col-md-12">
                <label> 통합코드 ID </label>
                <input v-model="txtCodeValue_det" class="searchBox" />
                <label> 통합코드 </label>
                <input v-model="txtCodeDetailValue" class="searchBox" />
                <a
                    name="btnAdd"
                    class="btn btn-dark me-2 mt-1"
                    v-on:click="selectIntegratedDetail"
                    type="button"
                    >Search</a
                >
                <a
                    name="btnAdd"
                    class="btn btn-dark me-2 mt-1"
                    type="button"
                    v-on:click="addRow_DetailGrid"
                    >Add</a
                >
                <a
                    name="btnAdd"
                    class="btn btn-dark me-2 mt-1"
                    v-on:click="createIntegratedDetail"
                    type="button"
                    >Save</a
                >
                <a
                    name="btnDel"
                    class="btn btn-secondary mt-1"
                    type="button"
                    v-on:click="deleteIntegratedDetail"
                    >Del</a
                >
            </li>
        </ul>
        <common-grid
            class="ag-theme-alpine"
            :p_columns="columnDefs_det"
            :p_dataSource="dataSource_det"
            :p_width="gridwidth"
            :p_height="gridheight"
            ref="detail"
        >
        </common-grid>
        <hr />
        <!-- Modal -->
        <div
            class="modal fade"
            id="exampleModal"
            tabindex="-1"
            aria-labelledby="exampleModalLabel"
            aria-hidden="true"
        >
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">
                            Modal title
                        </h5>
                        <button
                            type="button"
                            class="btn-close"
                            data-bs-dismiss="modal"
                            aria-label="Close"
                        ></button>
                    </div>
                    <div class="modal-body">...</div>
                    <div class="modal-footer">
                        <button
                            type="button"
                            class="btn btn-secondary"
                            data-bs-dismiss="modal"
                        >
                            Close
                        </button>
                        <button type="button" class="btn btn-primary">
                            Save changes
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
import ItgManagementService from "../../service/ItgManagementService";
import commonGridApi from "./config/itg/setCommonGridHeader";
export default {
    data() {
        return {
            txtCodeValue: "",
            txtCodeValue_det: "",
            txtCodeDetailValue: "",
            dataSource: [],
            columnDefs: [],
            dataSource_det: [],
            columnDefs_det: [],
            gridwidth: "100%",
            gridheight: "450px",
            carMappings: null,
            IntegratedParams: {},
            masterIdVauleList: [],
        };
    },
    beforeMount() {
        this.getMasterIDVaulelist();
        this.initIntegratedMasterGrid();
        this.initIntegratedDetailGrid();
        this.selectIntegratedMaster();
        this.selectIntegratedDetail();
    },
    methods: {
        // 마스터 그리드 초기화
        initIntegratedMasterGrid() {
            commonGridApi.setColoumnDefault(
                this.columnDefs,
                "", //ColmunName
                "", //Field
                true, //Colmun Resize 기능
                true, //Colmun 정렬기능
                50, //Colmun 넓이
                true, // edit 기능 사용.
                false, // cellEditor 설정 여부
                false, //cellEditor Type
                false, //selectListValueList
                true, //checkboxSelection
            );
            commonGridApi.setColoumnDefault(
                this.columnDefs,
                "통합코드 ID", //ColmunName
                "codetype_id", //Field
                true, //Colmun Resize 기능
                true, //Colmun 정렬기능
                300, //Colmun 넓이
                true, // edit 기능 사용.
                false, // cellEditor 설정 여부
                false, //cellEditor Type
                false, //selectListValueList
                false, //checkboxSelection
            );
            commonGridApi.setColoumnDefault(
                this.columnDefs,
                "통합코드 분류명",
                "codetype_name",
                true, //Colmun Resize 기능
                true, //Colmun 정렬기능
                300, //Colmun 넓이
                true, // edit 기능 사용.
                false, // cellEditor 설정 여부
                false, //cellEditor Type
                false, //selectListValueList
            );
            commonGridApi.setColoumnDefault(
                this.columnDefs,
                "Use",
                "use_status",
                true,
                true,
                100,
                true,
                true,
                "agSelectCellEditor",
                ["Y", "N"],
            );
            commonGridApi.setColoumnDefault(
                this.columnDefs,
                "비고",
                "note",
                true, //Colmun Resize 기능
                true, //Colmun 정렬기능
                500, //Colmun 넓이
                true, // edit 기능 사용.
                false, // cellEditor 설정 여부
                false, //cellEditor Type
                false, //selectListValueList
            );
        },
        // 디테일 그리드 초기화
        initIntegratedDetailGrid() {
            commonGridApi.setColoumnDefault(
                this.columnDefs_det,
                "", //ColmunName
                "", //Field
                true, //Colmun Resize 기능
                true, //Colmun 정렬기능
                50, //Colmun 넓이
                true, // edit 기능 사용.
                false, // cellEditor 설정 여부
                false, //cellEditor Type
                false, //selectListValueList
                true, //checkboxSelection
            );
            commonGridApi.setColoumnDefault(
                this.columnDefs_det,
                "통합코드 ID", //ColmunName
                "codetype_id", //Field
                true, //Colmun Resize 기능
                true, //Colmun 정렬기능
                300, //Colmun 넓이
                true,
                true,
                "agSelectCellEditor",
                this.masterIdVauleList,
                false, //checkboxSelection
            );
            commonGridApi.setColoumnDefault(
                this.columnDefs_det,
                "통합코드",
                "integration_code",
                true, //Colmun Resize 기능
                true, //Colmun 정렬기능
                300, //Colmun 넓이
                true, // edit 기능 사용.
                false, // cellEditor 설정 여부
                false, //cellEditor Type
                false, //selectListValueList
            );
            commonGridApi.setColoumnDefault(
                this.columnDefs_det,
                "통합코드 명",
                "integration_name",
                true, //Colmun Resize 기능
                true, //Colmun 정렬기능
                300, //Colmun 넓이
                true, // edit 기능 사용.
                false, // cellEditor 설정 여부
                false, //cellEditor Type
                false, //selectListValueList
            );
            commonGridApi.setColoumnDefault(
                this.columnDefs_det,
                "Use",
                "use_status",
                true,
                true,
                100,
                true,
                true,
                "agSelectCellEditor",
                ["Y", "N"],
            );
            commonGridApi.setColoumnDefault(
                this.columnDefs_det,
                "비고",
                "note",
                true, //Colmun Resize 기능
                true, //Colmun 정렬기능
                400, //Colmun 넓이
                true, // edit 기능 사용.
                false, // cellEditor 설정 여부
                false, //cellEditor Type
                false, //selectListValueList
            );
        },
        // 마스터ID List Select
        getMasterIDVaulelist() {
            console.log("hasdjkfasdjkfsdkf");
            ItgManagementService.getMaseterID().then((res) => {
                res.data.forEach((element) => {
                    this.masterIdVauleList.push(...Object.values(element));
                });
                console.log(this.masterIdVauleList);
            });
        },
        // 마스터 그리드 로우 추가 이벤트
        addRow_MasterGrid() {
            this.$refs.master.createRowData();
        },
        // 마스터 그리드 로우 삭제 이벤트
        removeSelectedCellLisnes_MasterGrid() {
            this.$refs.master.removeRowData();
        },
        // 마스터 그리드 Row Select 값 가져오기
        getSelectedCellLisnes_MasterGrid() {
            return this.$refs.master.getSelectRowData();
        },

        // 디테일 그리드 로우 추가 이벤트
        addRow_DetailGrid() {
            this.$refs.detail.createRowData();
        },
        // 디테일 그리드 로우 삭제 이벤트
        removeSelectedCellLisnes_DetailGrid() {
            this.$refs.detail.removeRowData();
        },
        // 디테일 그리드 Row Select 값 가져오기
        getSelectedCellLisnes_DetailGrid() {
            return this.$refs.detail.getSelectRowData();
        },
        //마스터 통합코드 생성
        createIntegratedMaster() {
            var select = this.getSelectedCellLisnes_MasterGrid();
            console.log(select);
            ItgManagementService.createIntegratedMaster(select).then((res) => {
                console.log(res);
            });
        },
        //마스터 통합코드 삭제
        deleteIntegratedMaster() {
            var select = this.getSelectedCellLisnes_MasterGrid();
            console.log(select);
            ItgManagementService.deleteIntegratedMaster(select).then((res) => {
                console.log(res);
                this.removeSelectedCellLisnes_MasterGrid();
            });
        },
        //마스터 통합코드 조회
        selectIntegratedMaster() {
            console.log(this.txtCodeValue);
            ItgManagementService.selectIntegratedMaster(this.txtCodeValue).then(
                (res) => {
                    this.dataSource = res.data;
                },
            );
        },
        //디테일 통합코드 생성
        createIntegratedDetail() {
            var select = this.getSelectedCellLisnes_DetailGrid();
            ItgManagementService.createIntegratedDetail(select).then((res) => {
                console.log(res);
            });
        },
        //디테일 통합코드 삭제
        deleteIntegratedDetail() {
            var select = this.getSelectedCellLisnes_DetailGrid();
            console.log(select);
            ItgManagementService.deleteIntegratedDetail(select).then((res) => {
                console.log(res);
                this.removeSelectedCellLisnes_DetailGrid();
            });
        },
        //디테일 통합코드 조회
        selectIntegratedDetail() {
            ItgManagementService.selectIntegratedDetail({
                txtCodeValue: this.txtCodeValue_det,
                txtCodeDetailValue: this.txtCodeDetailValue,
            }).then((res) => {
                this.dataSource_det = res.data;
            });
        },
    },
};
</script>

<style>
.searchBox {
    margin: 10px 10px 10px 10px;
    text-align: center;
}
</style>
