<template>
    <div class="container">
        <table>
            <caption>
                LUNA & BANGWOOL
                <button>가입</button
                ><button>
                    <router-link to="/">취소</router-link>
                </button>
            </caption>
            <tbody>
                <tr>
                    주인
                </tr>
                <tr>
                    <th><span>*</span> 이름</th>
                    <td>
                        <div class="inputcontainer">
                            <div>
                                <input type="text" v-model="name" />
                            </div>
                        </div>
                    </td>
                </tr>
                <tr>
                    <th><span>*</span> 아이디</th>
                    <td>
                        <div class="inputcontainer">
                            <div>
                                <input type="text" v-model="id" />
                                <button style="">중복확인</button>
                            </div>
                        </div>
                    </td>
                </tr>
                <tr>
                    <th><span>*</span> 비밀번호</th>
                    <td>
                        <div class="inputcontainer">
                            <div>
                                <input type="password" v-model="pw.txt" />
                            </div>
                        </div>
                    </td>
                </tr>
                <tr>
                    <th><span>*</span> 비밀번호 확인</th>
                    <td>
                        <div class="inputcontainer">
                            <div>
                                <input type="password" v-model="pw_check.txt" />
                            </div>
                        </div>
                    </td>
                </tr>
                <tr>
                    고양이 (펫)
                </tr>
                <tr>
                    <th><span>*</span> 이름</th>
                    <td>
                        <div class="inputcontainer">
                            <div>
                                <input type="text" />
                            </div>
                        </div>
                    </td>
                </tr>
                <tr>
                    <th><span>*</span> 나이</th>
                    <td>
                        <div class="inputcontainer">
                            <div>
                                <input type="text" />
                            </div>
                        </div>
                    </td>
                </tr>
                <tr>
                    <th><span>*</span> 성별</th>
                    <div class="radioBox">
                        <input name="gendor" type="radio" v-model="gender" />
                        <label>남</label>
                    </div>
                    <div class="radioBox">
                        <input name="gendor" type="radio" v-model="gender" />
                        <label>여</label>
                    </div>
                </tr>
                <!-- <tr>
                    <th><span>*</span> 생일/성별</th>
                    <td>
                        <div class="inputcontainer">
                            <div>
                                <select v-model="txtyear">
                                    <option
                                        v-for="item in year"
                                        :key="item"
                                        :value="item"
                                    >
                                        {{ item.date_birth }}
                                    </option>
                                </select>
                                년
                                <select v-model="txtmonth">
                                    <option
                                        v-for="item in month"
                                        :key="item"
                                        :value="item"
                                    >
                                        {{ item.date_birth }}
                                    </option>
                                </select>
                                월
                                <select v-model="txtday">
                                    <option
                                        v-for="item in day"
                                        :key="item"
                                        :value="item"
                                    >
                                        {{ item.date_birth }}
                                    </option>
                                </select>
                                일
                                <div class="radioBox">
                                    <input
                                        name="gendor"
                                        type="radio"
                                        v-model="gender"
                                    />
                                    <label>남</label>
                                </div>
                                <div class="radioBox">
                                    <input
                                        name="gendor"
                                        type="radio"
                                        v-model="gender"
                                    />
                                    <label>여</label>
                                </div>
                            </div>
                        </div>
                    </td>
                </tr>
                <tr>
                    <th><span>*</span> 우편번호</th>
                    <td>
                        <div class="inputcontainer">
                            <div>
                                <input
                                    class="smInput"
                                    v-model="postcode"
                                    type="text"
                                />
                                <button v-on:click="postPopup">
                                    우편번호 검색
                                </button>
                            </div>
                        </div>
                    </td>
                </tr>
                <tr>
                    <th><span>*</span> 집주소</th>
                    <td>
                        <div class="addresscontainer addressinput">
                            <input type="text" v-model="extraAddress" />
                        </div>
                    </td>
                </tr>
                <tr>
                    <th><span>*</span> 상세주소</th>
                    <td>
                        <div class="addresscontainer addressinput">
                            <input type="text" />
                        </div>
                    </td>
                </tr>
                <tr>
                    <th><span>*</span> 휴대폰</th>
                    <td>
                        <div class="inputcontainer">
                            <div>
                                <select v-model="txtphoneNumber">
                                    <option
                                        v-for="item in phoneNumbers"
                                        :value="item.INTEGRATION_CODE"
                                        :key="item.INTEGRATION_CODE"
                                    >
                                        {{ item.INTEGRATION_NAME }}
                                    </option>
                                </select>
                                -
                                <input class="smInput" type="number" />
                                -
                                <input class="smInput" type="number" />
                            </div>
                        </div>
                    </td>
                </tr>
                <tr>
                    <th><span>*</span> 이메일</th>
                    <td>
                        <div class="inputcontainer">
                            <div>
                                <input type="text" />
                                @
                                <select v-model="txtemail">
                                    <option
                                        v-for="item in emails"
                                        :key="item.INTEGRATION_CODE"
                                        :value="item.INTEGRATION_CODE"
                                    >
                                        {{ item.INTEGRATION_NAME }}
                                    </option>
                                </select>
                                <button>중복확인</button>
                            </div>
                        </div>
                    </td>
                </tr>
                <tr>
                    <th>SMS안내</th>
                    <td>
                        <div class="inputcontainer">
                            <div>
                                <div class="radioBox">
                                    <input
                                        name="sms_allow"
                                        type="radio"
                                        v-model="sms_allow"
                                    />
                                    <label>받습니다.</label>
                                </div>
                                <div class="radioBox">
                                    <input
                                        name="sms_allow"
                                        type="radio"
                                        v-model="sms_allow"
                                    />
                                    <label>받지 않습니다.</label>
                                </div>
                            </div>
                        </div>
                    </td>
                </tr> -->
            </tbody>
        </table>
    </div>
</template>

<script>
import commonService from "../../service/commonService";
export default {
    data() {
        return {
            name: "",
            id: "",
            pw: { txt: "", ValidationType: "PW" },
            pw_check: { txt: "", ValidationType: "PW" },
            txtyear: "",
            year: [],
            txtmonth: "",
            month: [],
            txtday: "",
            day: [],
            gender: "",
            address: "",
            txtphoneNumber: "",
            phoneNumbers: [],
            txtemail: "",
            emails: [],
            sms_allow: "",
            extraAddress: "",
            postcode: "",
        };
    },
    beforeMount() {
        this.getDateOfBirthList("year");
        this.getDateOfBirthList("month");
        this.getDateOfBirthList("day");
        this.getIntegratedCode("EMAIL_TYPE");
        this.getIntegratedCode("PHONENUMBER_TYPE");
    },
    methods: {
        getDateOfBirthList(type) {
            if (type === "year") {
                commonService.GetDateOfBirthList("Y").then((res) => {
                    if (res.data) {
                        this.year = res.data;
                    }
                });
            } else if (type === "month") {
                commonService.GetDateOfBirthList("M").then((res) => {
                    if (res.data) {
                        this.month = res.data;
                    }
                });
            } else if (type === "day") {
                commonService.GetDateOfBirthList("D").then((res) => {
                    if (res.data) {
                        this.day = res.data;
                    }
                });
            }
        },
        getIntegratedCode(type) {
            if (type === "EMAIL_TYPE") {
                commonService.GetIntegratedCode(type).then((res) => {
                    if (res.data) {
                        this.emails = res.data;
                    }
                });
            } else if (type === "PHONENUMBER_TYPE") {
                commonService.GetIntegratedCode(type).then((res) => {
                    if (res.data) {
                        this.phoneNumbers = res.data;
                    }
                });
            }
        },
        postPopup() {
            new window.daum.Postcode({
                oncomplete: (data) => {
                    if (this.extraAddress !== "") {
                        this.extraAddress = "";
                    }
                    if (data.userSelectedType === "R") {
                        // 사용자가 도로명 주소를 선택했을 경우
                        this.extraAddress = data.roadAddress;
                    } else {
                        // 사용자가 지번 주소를 선택했을 경우(J)
                        this.extraAddress = data.jibunAddress;
                    }

                    // 사용자가 선택한 주소가 도로명 타입일때 참고항목을 조합한다.
                    if (data.userSelectedType === "R") {
                        // 법정동명이 있을 경우 추가한다. (법정리는 제외)
                        // 법정동의 경우 마지막 문자가 "동/로/가"로 끝난다.
                        if (
                            data.bname !== "" &&
                            /[동|로|가]$/g.test(data.bname)
                        ) {
                            this.extraAddress += data.bname;
                        }
                        // 건물명이 있고, 공동주택일 경우 추가한다.
                        if (
                            data.buildingName !== "" &&
                            data.apartment === "Y"
                        ) {
                            this.extraAddress +=
                                this.extraAddress !== ""
                                    ? `, ${data.buildingName}`
                                    : data.buildingName;
                        }
                        // 표시할 참고항목이 있을 경우, 괄호까지 추가한 최종 문자열을 만든다.
                        if (this.extraAddress !== "") {
                            this.extraAddress = `(${this.extraAddress})`;
                        }
                    } else {
                        this.extraAddress = "";
                    }
                    // 우편번호를 입력한다.
                    this.postcode = data.zonecode;
                },
            }).open();
        },
    },
};
</script>

<style scoped>
table {
    border: 3px solid gray;
    border-style: double;
    margin: 30px auto;
}
span {
    font-size: smaller;
    color: red;
}
.container {
    height: 80vh;
}
th {
    border: 1px solid gray;
    text-align: left;
}
td {
    height: 30px;
    border: 1px solid gray;
    /* border: 1px solid black; */
}
.inputcontainer {
    display: flex;
    /* justify-content: space-between; */
    flex-direction: column;
    /* align-items: flex-start; */
    justify-content: center;
    align-items: flex-start;
    /* border: 1px solid green; */
    height: 50px;
    padding-left: 10px;
}
.addresscontainer {
    display: flex;
    /* justify-content: space-between; */
    flex-direction: column;
    /* align-items: flex-start; */
    justify-content: center;
    /* border: 1px solid green; */
    height: 50px;
    padding-left: 10px;
}
input {
    margin-top: 10px;
    height: 25px;
}
.addressinput {
    margin-right: 300px;
}
button {
    margin-left: 10px;
}

.radioBox {
    display: inline-block;
    margin-left: 25px;
}
.smInput {
    width: 75px;
}
</style>
>
