<template>
    <h1>개발자 리스트</h1>
    <hr />
    <div class="row pb-5">
        <div class="col-6">
            <treeselect
                v-model="skillIds"
                :multiple="true"
                :options="options"
                :normalizer="normalizer"
            />
        </div>
        <div class="col-5">
            <input type="checkbox" id="chk2" value="초급" v-model="grade" />
            <label for="chk2">초급</label>
            <input type="checkbox" id="chk3" value="중급" v-model="grade" />
            <label for="chk3">중급</label>
            <input type="checkbox" id="chk4" value="고급" v-model="grade" />
            <label for="chk4">고급</label>
        </div>
        <div class="col-1">
            <button type="button" class="btn btn-lg btn-dark" @click="search">
                검색
            </button>
        </div>
    </div>
    <div class="row">
        <table>
            <tr class="menu">
                <th>등급</th>
                <th>이름</th>
                <th>경력</th>
                <th>가용일</th>
                <th>연락처</th>
                <th>기술</th>
            </tr>
            <tr v-for="(developer, index) in developers" :key="index">
                <td>{{ developer.grade }}</td>
                <td>
                    <a
                        class="text-decoration-none"
                        :href="'/detail/' + developer.id"
                        >{{ developer.name }}</a
                    >
                </td>
                <td>
                    {{ developer.careerMonth }}개월 ({{
                        (developer.careerMonth / 12).toFixed(1)
                    }}년)
                </td>
                <td>{{ developer.dateAvailable }}</td>
                <td>{{ developer.phoneNumber }}</td>
                <td>
                    <span
                        v-for="skill in developer.skills"
                        v-bind:key="skill.id"
                        >{{ skill.skillname }},
                    </span>
                </td>
            </tr>
        </table>
    </div>

    <div class="btn-cover">
        <button :disabled="pageNum === 0" @click="prevPage">이전</button>
        <span class="page-count"
            >{{ pageNum + 1 }} / {{ pageCount }} 페이지</span
        >
        <button :disabled="pageNum >= pageCount - 1" @click="nextPage">
            다음
        </button>
    </div>
</template>

<script>
import DeveloperDataService from "../../service/DeveloperDataService";
import SkillDataService from "@/service/SkillDataService";
import Treeselect from "vue3-treeselect";
import "vue3-treeselect/dist/vue3-treeselect.css";

export default {
    components: { Treeselect },
    name: "developers-list",
    data() {
        return {
            grade: [],
            skillIds: [],
            name: "",
            developers: [],
            options: [],
            normalizer(node) {
                return {
                    id: node.skillId,
                    label: node.skillname,
                    children: node.subSkills,
                };
            },
            condition: [],
        };
    },
    methods: {
        skillsInit() {
            SkillDataService.get()
                .then((res) => {
                    this.options = res.data;
                    console.log(this.options);
                })
                .catch((e) => {
                    console.log(e);
                });
        },
        retrieveDevelopers() {
            DeveloperDataService.getAll()
                .then((response) => {
                    this.developers = response.data;
                })
                .catch((e) => {
                    console.log(e);
                });
        },

        search() {
            const condition = {
                skills: this.skillIds,
                grade: this.grade,
            };
            console.log(condition);
            DeveloperDataService.search(condition)
                .then((res) => {
                    this.developers = res.data;
                    console.log("resdata", res.data);
                    console.log("developer", this.developers);
                })
                .catch((e) => {
                    console.log(e);
                });
        },

        refreshList() {
            this.retrieveDevelopers();
        },
    },
    mounted() {
        this.retrieveDevelopers();
        this.skillsInit();
    },
};
</script>

<style>
table {
    width: 100%;
    text-align: center;
}

td {
    padding-bottom: 1em;
}

.menu {
    background-color: rgb(158, 183, 231);
    border-bottom: 2px solid black;
}

table,
td,
th {
    border: 1px solid black;
    border-collapse: collapse;
}

.btn-cover {
    text-align: center;
    margin: 2em 0 2em 0;
}
</style>
