<template>
    <div class="loginBox">
        <div class="imagebox">
            <img src="@/assets/logo-banner.png" />
        </div>
        <div class="inputcontainer">
            <label class="inputbox">ID</label>
            <input v-model="id" class="inputbox" />
            <label class="inputbox">PW</label>
            <input v-model="pw" class="inputbox" />
            <button v-on:click="loginVerification" class="Btn">Login</button>
            <button class="Btn">회원가입</button>
        </div>
    </div>
</template>

<script>
export default {
    data() {
        return {
            id: "",
            pw: "",
        };
    },
    methods: {
        loginVerification() {
            console.log("gjkajflsfjkld");
        },
    },
};
</script>

<style scoped>
.loginBox {
    /* display: flex;
    justify-content: center; */
    width: 400px;
    height: 500px;
    /* border: 1px solid black; */
    margin: 3rem 20rem 3rem 20rem;
}
.imagebox {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 200px;
    /* border: 1px solid yellow; */
}
.inputcontainer {
    display: flex;
    flex-direction: column;
    /* border: 1px solid black; */
    margin: 1px 1rem 0 1rem;
}
.inputbox {
    /* display: block; */
    /* border: 1px solid black; */
    margin: 1px 1rem 0 1rem;
}
.Btn {
    /* position: absolute; */
    /* display: block; */
    /* width: 100%; */
    margin: 10px 1rem 0 1rem;
}
</style>
