<template>
    <div class="container">
        <h1 class="mb-3">개발자 등록</h1>
        <hr />
        <div class="submit-form">
            <div class="overflow-hidden" v-if="!submitted">
                <h5 class="border-bottom border-top border-2 border-dark p-2">
                    1. 신상정보
                </h5>

                <ul class="row">
                    <li class="d-inline-block col-md-2">이름</li>
                    <li class="d-inline-block col-md-3">
                        <input
                            type="text"
                            class="form-control"
                            placeholder="이름 입력"
                            required
                            v-model="developer.name"
                        />
                    </li>
                    <li class="d-inline-block col-md-2"></li>
                    <li class="d-inline-block col-md-2">나이</li>
                    <li class="d-inline-block col-md-3">
                        <input
                            type="text"
                            class="form-control"
                            placeholder="숫자만 입력"
                            v-model="developer.age"
                        />
                    </li>
                </ul>

                <ul class="row">
                    <li class="d-inline-block col-md-2">연락처</li>
                    <li class="d-inline-block col-md-3">
                        <input
                            type="text"
                            class="form-control"
                            placeholder="010-xxxx-xxxx"
                            required
                            v-model="developer.phoneNumber"
                        />
                    </li>
                    <li class="d-inline-block col-md-2"></li>
                    <li class="d-inline-block col-md-2">거주지</li>
                    <li class="d-inline-block col-md-3">
                        <input
                            type="text"
                            class="form-control"
                            placeholder="00시 00구"
                            v-model="developer.city"
                        />
                    </li>
                </ul>

                <ul class="row">
                    <li class="d-inline-block col-md-2">이메일</li>
                    <li class="d-inline-block col-md-3">
                        <input
                            type="email"
                            class="form-control"
                            placeholder="name@example.com"
                            v-model="developer.email"
                        />
                    </li>
                    <li class="d-inline-block col-md-2"></li>
                    <li class="d-inline-block col-md-2">성별</li>
                    <li class="d-inline-block col-md-3">
                        <select
                            name="field"
                            class="form-select"
                            v-model="developer.gender"
                        >
                            <option value="남">남자</option>
                            <option value="여">여자</option>
                        </select>
                    </li>
                </ul>

                <ul class="row">
                    <li class="d-inline-block col-md-2">최종학력</li>
                    <li class="d-inline-block col-md-3">
                        <select
                            name="field"
                            class="form-select"
                            v-model="developer.schoolFinal"
                        >
                            <option value="0">고등학교 졸업</option>
                            <option value="1">2년제 대학교 졸업</option>
                            <option value="2">4년제 대학교 졸업</option>
                        </select>
                    </li>
                    <li class="d-inline-block col-md-2"></li>
                    <li class="d-inline-block col-md-2">졸업학교</li>
                    <li class="d-inline-block col-md-3">
                        <input
                            class="form-control"
                            type="text"
                            placeholder="00대학교, 00고등학교"
                            v-model="developer.school"
                        />
                    </li>
                </ul>

                <ul class="row">
                    <li class="d-inline-block col-md-2">전공유무</li>
                    <li class="d-inline-block col-md-3">
                        <select
                            name="field"
                            class="form-select"
                            v-model="developer.majorInComputer"
                        >
                            <option value="true">전공</option>
                            <option value="false">비전공</option>
                        </select>
                    </li>
                    <li class="d-inline-block col-md-2"></li>
                    <li class="d-inline-block col-md-2"></li>
                    <li class="d-inline-block col-md-3"></li>
                </ul>

                <h5 class="border-bottom border-top border-2 border-dark p-2">
                    2. 경력정보
                </h5>

                <ul class="row">
                    <li class="d-inline-block col-md-2">등급</li>
                    <li class="d-inline-block col-md-3">
                        <select
                            name="grade"
                            class="form-select"
                            v-model="developer.grade"
                        >
                            <option value="초급">초급</option>
                            <option value="중급">중급</option>
                            <option value="고급">고급</option>
                        </select>
                    </li>
                    <li class="d-inline-block col-md-2"></li>
                    <li class="d-inline-block col-md-2">경력</li>
                    <li class="d-inline-block col-md-3">
                        <input
                            type="text"
                            class="form-control col"
                            v-model="developer.careerMonth"
                        />
                    </li>
                </ul>

                <ul class="row">
                    <li class="d-inline-block col-md-2">정보처리기사</li>
                    <li class="d-inline-block col-md-3">
                        <select
                            name="field"
                            class="form-select"
                            v-model="developer.jungchegi"
                        >
                            <option value="true">취득</option>
                            <option value="false">미취득</option>
                        </select>
                    </li>
                    <li class="d-inline-block col-md-2"></li>
                    <li class="d-inline-block col-md-2">고용형태</li>
                    <li class="d-inline-block col-md-3">
                        <select
                            name="field"
                            class="form-select"
                            v-model="developer.freelancer"
                        >
                            <option value="true">프리랜서</option>
                            <option value="false">직접고용</option>
                        </select>
                    </li>
                </ul>

                <ul class="row">
                    <li class="d-inline-block col-md-2">가용일</li>
                    <li class="d-inline-block col-md-2">
                        <input
                            type="date"
                            class="form-control col"
                            v-model="developer.dateAvailable"
                        />
                    </li>
                    <li class="d-inline-block col-md-3"></li>
                    <li class="d-inline-block col-md-2">가용여부</li>
                    <li class="d-inline-block col-md-3">
                        <select
                            name="field"
                            class="form-select"
                            v-model="developer.dmAllowed"
                        >
                            <option value="true">가용</option>
                            <option value="false">비가용</option>
                        </select>
                    </li>
                </ul>

                <ul class="row">
                    <li class="d-inline-block col-md-2">특징 메모</li>
                    <li class="d-inline-block col-md-10">
                        <textarea
                            class="form-control"
                            maxlength="300"
                            rows="3"
                            v-model="developer.description"
                        ></textarea>
                    </li>
                </ul>
            </div>

            <div v-else>
                <h4>
                    개발자 정보 등록이 완료 되었습니다.!!
                    <button class="ms-1 btn btn-success" @click="newDeveloper">
                        한명더 입력
                    </button>
                </h4>
            </div>
        </div>

        <h5 class="border-bottom border-top border-2 border-dark p-2">
            3. Skill Registration
        </h5>
        <div class="pb-5">
            <div id="app">
                <treeselect
                    v-model="skillIds"
                    :multiple="true"
                    :options="options"
                    :normalizer="normalizer"
                />
            </div>
        </div>

        <h5 class="border-bottom border-top border-2 border-dark p-2">
            4. Resume Registration
        </h5>

        <ul class="row text-end">
            <li class="d-inline-block col-md-9 mt-1">
                <input class="form-control" type="file" id="formFile" />
            </li>
            <li class="d-inline-block col-md-3">
                <button
                    name="btnAdd"
                    class="btn btn-dark me-2 mt-1"
                    type="button"
                >
                    등록
                </button>
                <button
                    name="btnDel"
                    class="btn btn-secondary mt-1"
                    type="button"
                >
                    삭제
                </button>
            </li>
        </ul>
        <table class="table table-hover table-bordered table-sm">
            <colgroup>
                <col width="20%" />
                <col width="10%" />
                <col width="40%" />
                <col width="30%" />
            </colgroup>
            <thead class="table-light">
                <tr align="center">
                    <th scope="col">Check</th>
                    <th scope="col">No.</th>
                    <th scope="col">첨부파일</th>
                    <th scope="col">업로드 일자</th>
                </tr>
            </thead>

            <tbody>
                <tr align="center">
                    <th><input name="chk" type="checkbox" /></th>
                    <th scope="row">1</th>
                    <td></td>
                    <td class="tg-abip"></td>
                </tr>
                <tr align="center">
                    <th><input name="chk" type="checkbox" /></th>
                    <th scope="row">2</th>
                    <td></td>
                    <td class="tg-abip"></td>
                </tr>
                <tr align="center">
                    <th><input name="chk" type="checkbox" /></th>
                    <th scope="row">3</th>
                    <td></td>
                    <td class="tg-abip"></td>
                </tr>
            </tbody>
        </table>

        <ul class="row text-end">
            <li class="d-inline-block col-md-12">
                <button @click="saveDeveloper" class="btn btn-dark me-2 mt-1">
                    개발자 정보만 등록
                </button>

                <a
                    href="#"
                    name="btnDel"
                    class="btn btn-secondary mt-1"
                    type="button"
                    >취소</a
                >
            </li>
        </ul>
    </div>
</template>

<script>
import DeveloperDataService from "../../service/DeveloperDataService";
import SkillDataService from "@/service/SkillDataService";
import Treeselect from "vue3-treeselect";
import "vue3-treeselect/dist/vue3-treeselect.css";

export default {
    components: { Treeselect },

    name: "add-developer",
    data() {
        return {
            developer: {
                gender: "남",
                schoolFinal: 2,
                majorInComputer: true,
                grade: "중급",
                jungchegi: true,
                freelancer: true,
                dmAllowed: true,
            },

            options: [],
            normalizer(node) {
                return {
                    id: node.skillId,
                    label: node.skillname,
                    children: node.subSkills,
                };
            },
            submitted: false,
        };
    },
    methods: {
        skillsInit() {
            SkillDataService.get()
                .then((res) => {
                    this.options = res.data;
                    console.log(this.options);
                })
                .catch((e) => {
                    console.log(e);
                });
        },

        saveDeveloper() {
            const data = {
                grade: this.developer.grade,
                name: this.developer.name,
                phoneNumber: this.developer.phoneNumber,
                age: this.developer.age,
                schoolFinal: this.developer.schoolFinal,
                school: this.developer.school,
                careerMonth: this.developer.careerMonth,
                city: this.developer.city,
                email: this.developer.email,
                description: this.developer.description,
                gender: this.developer.gender,
                jungchegi: this.developer.jungchegi,
                majorInComputer: this.developer.majorInComputer,
                dateAvailable: this.developer.dateAvailable,
                freelancer: this.developer.freelancer,
                dmAllowed: this.developer.dmAllowed,
                skillIds: this.skillIds,
            };

            console.log(data);

            DeveloperDataService.create(data)
                .then((response) => {
                    console.log(response.data);
                    this.submitted = true;
                })
                .catch((e) => {
                    console.log(e);
                });
        },

        newDeveloper() {
            this.submitted = false;
            this.developer = {
                gender: "남",
                schoolFinal: 2,
                majorInComputer: true,
                grade: "중급",
                jungchegi: true,
                freelancer: true,
                dmAllowed: true,
            };
        },
    },
    mounted() {
        this.skillsInit();
    },
};
</script>
<style scoped>
.register {
    display: flex;
    flex-direction: column;
}

.line {
    margin-bottom: 2em;
    display: flex;
    flex-direction: row;
}

.list {
    width: 7em;
}

.regi-button {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
</style>
