<template>
    <div class="container">
        <h2 class="pb-5">더블클릭으로 이름 변경</h2>
        <div class="row">
            <div class="col-4">
                <div class="d-grid d-md-flex justify-content-md-end pb-2">
                    <button class="btn btn-primary me-md-2" type="button">
                        추가
                    </button>
                    <button class="btn btn-primary" type="button">삭제</button>
                </div>
                <select
                    class="form-select"
                    multiple
                    aria-label="multiple select example"
                    size="8"
                >
                    <option>전체</option>
                    <option value="1" selected>WEB</option>
                    <option value="2">SAP</option>
                </select>
            </div>
            <div class="col-4">
                <div class="d-grid d-md-flex justify-content-md-end pb-2">
                    <button class="btn btn-primary me-md-2" type="button">
                        추가
                    </button>
                    <button class="btn btn-primary" type="button">삭제</button>
                </div>
                <select
                    class="form-select"
                    multiple
                    aria-label="multiple select example"
                    size="8"
                >
                    <option>전체</option>
                    <option value="1" selected>java</option>
                    <option value="2">DBMS</option>
                    <option value="3">PHP</option>
                </select>
            </div>
            <div class="col-4">
                <div class="d-grid d-md-flex justify-content-md-end pb-2">
                    <button class="btn btn-primary me-md-2" type="button">
                        추가
                    </button>
                    <button class="btn btn-primary" type="button">삭제</button>
                </div>
                <select
                    class="form-select"
                    multiple
                    aria-label="multiple select example"
                    size="8"
                >
                    <option selected>전체</option>
                    <option value="1">초급</option>
                    <option value="2">중급</option>
                    <option value="3">고급</option>
                </select>
            </div>
        </div>
    </div>
</template>
