<template>
    <nav-bar></nav-bar>
    <router-view />
</template>

<script>
import NavBar from "./navBar.vue";
export default {
    components: { NavBar },
    methods: {},
};
</script>

<style></style>
