<template>
    <div class="hederBox">
        <div class="homeLabel">
            <router-link style="text-decoration: none; color: black" to="/">
                LUNA & BANGWOOL</router-link
            >
        </div>
        <div class="headerbtns">
            <router-link
                style="text-decoration: none; color: black"
                to="/Login"
                class="hederbtn"
                >사진</router-link
            >
            <router-link
                style="text-decoration: none; color: black"
                to="/Login"
                class="hederbtn"
                >로그인</router-link
            >
        </div>
    </div>
</template>

<script>
export default {
    data() {},
};
</script>

<style>
.hederBox {
    display: flex;
    height: 50px;
    border-bottom: 1px solid grey;
}
.homeLabel {
    cursor: pointer;
    margin-right: auto;
    margin: 10px;
    text-decoration-line: none;
    font-size: 18px;
    color: black;
}
.headerbtns {
    margin-left: auto;
    margin-right: 5px;
}
.hederbtn {
    float: left;
    text-align: center;
    border: 2px solid #e7e7e7;
    background-color: #e7e7e7;
    border-radius: 8px;
    color: black;
    padding: 5px 20px;
    height: 30px;
    font-size: 12px;
    margin-top: 8px;
    margin-inline: 2px;
}
.hederbtn:hover {
    border: 2px solid #cbcbcb;
    background-color: #cbcbcb;
}
</style>
