<template>
    <div class="loginBox">
        <label class="inputbox">ID</label>
        <input class="inputbox" />
        <label class="inputbox">PW</label>
        <input class="inputbox" />
        <div class="commonbtn">Login</div>
        <router-link
            style="text-decoration: none; color: white"
            to="/joinMembershipRegister"
            class="joinbtn"
            >회원가입</router-link
        >
    </div>
</template>
<style scoped>
.loginBox {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    width: 400px;
    height: 500px;
    margin: auto;
    /* border: 1px solid black; */
}
.commonbtn {
    text-align: center;
    border: 2px solid #e7e7e7;
    background-color: #e7e7e7;
    border-radius: 8px;
    color: black;
    padding: 5px 20px;
    height: 30px;
    font-size: 12px;
    margin-top: 8px;
}
.commonbtn:hover {
    border: 2px solid #cbcbcb;
    background-color: #cbcbcb;
}
.joinbtn {
    text-align: center;
    border: 2px solid #555555;
    background-color: #555555;
    border-radius: 8px;
    color: black;
    padding: 5px 20px;
    height: 30px;
    font-size: 12px;
    margin-top: 8px;
}
.joinbtn:hover {
    border: 2px solid #444444;
    background-color: #444444;
}
</style>
